<h1>Edit your article</h1>

<%= render 'form'%>

<%= link_to 'Delete', article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure"}%> <br>
<%= link_to 'Back to articles', articles_path%>